
.Main{
    border-radius: 50px;
    margin: 0% auto;
    height: 500px;
    margin-top: 50px;
    width: 70%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 10px 50px 2px black;
}

.Text{
    color: white;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
 background-color: #0b4b9e;
    height: 100%;
    width: 45%;
    /* background-color: white; */
    border-top-left-radius:50px ;
     border-bottom-left-radius:50px ;
}
.heading {
    text-align: center;
    height: 100px;
    width: 100%;
    /* background-color: black; */
    color: white;
    font-size: 25px;
}
.logo{
    justify-content: center;
    align-items: center;
    display: flex;

    height: 150px;
    width: 150px;
    /* background-color: red; */
}
.para{
    /* background-color: red; */
    height: 150px;
    width: 70%;
    text-align: center;
    font-size: 20px;
}
.bottom{
    align-items: center;
    display: flex;
    font-size: 25px;
    height: 80px;
    /* background-color: #0b4b; */
}
.form{
/* background-image: url(./assects/images.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;  
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    background-color: white;
     border-top-right-radius:50px ;
     border-bottom-right-radius:50px ;
}
.fh{
    color: black;
    font-size: 35px;
}
 .in1 input{
    font-size: 20px;
    color: black;
    height: 80px;
    width: 350px;
    background-color: rgba(255, 255, 255 ,0.0   );
    border: none;
 }
 .email{
    height: 80px;
    width: 350px;

    display: flex;
    border-bottom: 3px solid  #0b4b9e;
}
.pass{
        height: 80px;
    width: 350px;
    margin-bottom: 50px;
    border-bottom: 3px solid  #0b4b9e;
}
.btn {
    /* background-color: red; */
    display: flex;
    height: 50px;
    width: 60%;
    justify-content: space-between;
}
.btnf button{
   font-size: 19px;
   color: white;
    background-color: #0b4b9e;
    border-radius: 50px;
    height: 50px;
    width: 120px;
    border: none;

}
.btnf :hover{
border: 2px solid black;
    transition: all 1s;
    background-color: white;
    color: gray;

}
 .icon{
    font-size: 30px;
    margin-top: 30px;
    height: 30px;
    width: 50px;
    /* background-color: #0b4b9e; */
    /* color:  #0b4b9e; */
 }